*{
    margin: 0;
    padding: 0;
}
#nameser {
    display: flex;
    justify-content: space-around;
    margin: 4vh;
    
}
#nameser p{
    font-size: 30px;
    color: green;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: green;
}
#nav1,
#nav2{
    display: flex;
    gap: 20px;
}
.list,
.item {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}
#sec1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
}
.prod{
    width: 50%;
    display: flex;
}
.prod img{
    width: 20%;
    height: 100%;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */
}
.prod img:hover{
    width: 40%;
    height: 80%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.pqt{
    display: flex;
    justify-content:space-evenly;
    gap: 50px;
    width: 45%;
    margin-left: 10vw;
    flex-direction: row;
    align-items: center;
}
.end{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 10vh;
}
.ends{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.button{
    border: 1px solid black;
    height: 3vh;
}
.increment{
    background-color: green;
    width: 2vw;
}
.decrement{
    background-color: red;
    width: 2vw;
}
.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0vh;
}
#Checkout{
    /* border: 1px solid black; */
    /* width: 50%; */
    border-radius: 5px;
    padding: 10px;
    color: azure;
    background-color: black;
}
#Checkout:hover{
    background-color: rgb(70, 70, 180);
}
/* .footer{
    background-color: black;
    display: flex;
    height: 50px;
} */
/* #imgfoot{
    display: flex;
    justify-content: center;
} */
/* .imgg{
    width: 2vh;
    height: 2vh;
} */
